{% extends "template.html" %}
{% block content %}


<p> Journal Bot is a simple web app that tracks your mood based on journal entries.
Journaling is a great method to deal with the stresses of life and Journal Bot aims
to point out that the "lows" of life are often far shorter than they may seem.</p>

<p>If you are having serious mental health issues, please seek real medical help, Journal Bot is
merely an assistive tool. Below are some resources.</p>

<p>National Suicide Hotline: 1-800-273-8255</p>
<p>Substance Abuse and Mental Health Services Association: 1-800-662-4357</p>


{% endblock %}
