{% extends "template.html" %}
{% block content %}
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}
          <fieldset>
            <legend>Join Today</legend>
            <div>
              {{ form.username.label()}}
              {{ form.username()}}
            </div>
            <div>
              {{ form.email.label()}}
              {{ form.email()}}
            </div>
            <div>
              {{ form.password.label()}}
              {{ form.password()}}
            </div>
            <div>
              {{ form.confirm_password.label()}}
              {{ form.confirm_password()}}
            </div>
          </fieldset>
          <div>
            {{form.submit()}}
          </div>
      </form>
    <div>
      <small>
        Already registered? <a href="{{url_for('login')}}"> Sign In</a>
      </small>
    </div>
{% endblock %}
